#Login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    padding: 4em 0;
    #Login__Img{
        width: 35%;
        img{
            width: 100%;
        }
    }
    #Login__Container{
        width: 550px;
        .Login__Form{
            .FormReplacement{
                display: flex;
                flex-direction: column;
                gap: 25px;
                div{
                    text-align: center;
                    button{
                        width: 30%;
                        background-color: var(--secondary-color);
                    }
                }
            }
        }
        #Login__Note{
            margin-top: 25px;
            text-align: center;
            a{
                text-decoration: none;
                color: var(--secondary-color);
                font-weight: 600;
            }
        }
    }
}
.Title{
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    color: var(--secondary-color);
}
.Title::after{
    content: "";
    top: calc( 100% + 25px);
    left: 50%;
    height: 4px;
    width: 60%;
    background-color: var(--secondary-color);
    transform: translate( -50% );
    position: absolute;
    border-radius: 20px;
}
.SubTitle{
    margin: auto;
    margin-bottom: 25px;
    line-height: 30px;
    text-align: center;
}