#GeneralInformation__Container{
    display: flex;
    gap: 25px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.069);
    border-radius: 10px;
    padding: 1em;
    align-items: center;
    .GeneralInformation__InfoContainer{
        flex-grow: 1;
        h6{
            color: rgb(82, 82, 82);
            margin-bottom: 4px;
        }
    }
}